.field {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.25rem;
  color: var(--color-text-main);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
}

.input {
  padding: var(--spacing-small);
  border: 1px solid var(--color-border-main);
  border-radius: var(--border-radius-base);
  box-sizing: border-box;
  background-color: var(--color-bg-white);
  height: 40px;
  font-size: var(--font-size-base);
  box-shadow: 0 1px 4px #00000014;
}

.input:focus{
  outline: 1px solid var(--color-accent-purple);
}

.small {
  width: 130px;
}

.medium {
  width: 250px;
}

@media (max-width: 640px) {
  .medium {
    width: 100%;
  }
}

.large {
  width: 100%;
}

.inputGroup {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.error {
  color: var(--color-text-error);
  margin-top: 0.4rem;
  font-size: 0.9rem;
}